<div class="container-fluid containerForm">
  <h2 *ngIf="studentRegi">Student Registration Form</h2>
  <h2 *ngIf="!studentRegi">Edit Student Information Form</h2>
</div>
<p-toast></p-toast>

<div class="container">
  <form #studentForm="ngForm" >

    <!-- Student Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Student Name</mat-label>
      <input matInput [(ngModel)]="student.studentName" name="studentName" required>
    </mat-form-field>  

    <!-- Father Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Father Name</mat-label>
      <input matInput [(ngModel)]="student.fatherName" name="fatherName" required>
    </mat-form-field>

    <!-- Date of Birth -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dob" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Gender -->
    <div class="gender-group">
      <label>Gender:</label>
      <mat-radio-group [(ngModel)]="student.gender" name="gender">
        <mat-radio-button value="MALE">Male</mat-radio-button>
        <mat-radio-button value="FEMALE">Female</mat-radio-button>
        <mat-radio-button value="OTHER">Other</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- NRC No. -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>NRC No.</mat-label>
      <input matInput [(ngModel)]="student.nrcNo" pattern="^[0-9]{1,2}/[A-Z]{3}\([NPT]\)[0-9]{6}$" 
      name="nrcNo" placeholder="e.g. 12/MKN(N)123456" #nrcNo="ngModel" required>
       <div *ngIf="nrcNo.invalid && nrcNo.touched" style="color:red">
          Invalid NRC format
        </div>
    </mat-form-field>

    <!-- Grade -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Grade</mat-label>
      <mat-select [(ngModel)]="student.grade" name="grade">
        <mat-option value="GRADE_1">Grade 1</mat-option>
        <mat-option value="GRADE_2">Grade 2</mat-option>
        <mat-option value="GRADE_3">Grade 3</mat-option>
        <mat-option value="GRADE_4">Grade 4</mat-option>
        <mat-option value="GRADE_5">Grade 5</mat-option>
        <mat-option value="GRADE_6">Grade 6</mat-option>
        <mat-option value="GRADE_7">Grade 7</mat-option>
        <mat-option value="GRADE_8">Grade 8</mat-option>
        <mat-option value="GRADE_9">Grade 9</mat-option>
        <mat-option value="GRADE_10">Grade 10</mat-option>
        <mat-option value="GRADE_11">Grade 11</mat-option>
        <mat-option value="GRADE_12">Grade 12</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Nationality -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nationality</mat-label>
      <mat-select [(ngModel)]="student.nationality" name="nationality">
        <mat-option value="Myanmar">Myanmar</mat-option>
        <mat-option value="Chinese">Chinese</mat-option>
        <mat-option value="Thailand">Thailand</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" [(ngModel)]="student.phoneNumber" #phoneNumber="ngModel" pattern="^[0-9]*$" name="phoneNumber" placeholder="09XXXXXXXXX" maxlength="11">
      <div *ngIf="phoneNumber.invalid && phoneNumber.touched" style="color:red">
          Phone number is required and must be digits only
        </div>
    </mat-form-field>

    <!-- Email Address -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" [(ngModel)]="student.email" #email="ngModel" name="email" placeholder="example@gmail.com" required>
          <div *ngIf="email.invalid && email.touched" style="color:red">
          Enter a valid email
        </div>
    </mat-form-field>

    <!-- Address -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Address</mat-label>
      <textarea matInput [(ngModel)]="student.address" name="address" rows="3"></textarea>
    </mat-form-field>

    <!-- File Upload -->
    <div class="file-upload">
      <label for="fileInput">Choose File:</label>
     
      <input type="file" id="fileInput" name="chooseFile" (change)="onFileSelected($event)">
    </div>

    <!-- Success Dialog -->
<p-dialog header="Success" [(visible)]="displaySuccessDialog" [modal]="true" [closable]="false">
  <p>Student "{{ student.studentName }}" updated successfully!</p>
</p-dialog>
    <!-- Buttons -->
  <div class="d-flex justify-content-center gap-3 mt-3">
  <button class="btn btn-primary" *ngIf="studentRegi" (click)="saveWithFile()" type="submit">Submit</button>
  <button class="btn btn-primary" *ngIf="!studentRegi" (click)="editStudent()" type="submit">Edit</button>
  
  <button class="btn btn-warning" *ngIf="studentRegi" type="reset">Reset</button>
  <button class="btn btn-danger" *ngIf="!studentRegi" (click)="back()">Back</button>
</div>
 
  </form>
</div>
