.container {
  max-width: 600px;
  margin: auto;
 
}
.mat-form-field-label {
  color: white !important;
}

.containerForm {
  width: 100vw;
  min-height: 50px;   
  padding: 20px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center; 
   background-color: #007BFF; 
  color: white; 
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.full-width {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.gender-group {
  margin: 15px 0;
}

.file-upload {
  margin: 15px 0;
}

.preview img {
  max-width: 150px;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 5px;
}
